body, html {
    margin:0;
    background-color:#C2FFE4;
}

.header{
    
    background-color:black;
    display:flex;
}

h1{
    margin:auto auto;
    margin-right:16.8vh;
    text-align:center;
    color:white;
        
}

h5{
    color: white;
    text-decoration:underline; 
    margin-right:20px;
}

.flex-container {
    margin-top:80px;
    display: flex;
    flex-direction: column;
    background-color: #C2FFE4;
  }
  
  .flex-container > button {
    background-color: #f1f1f1;
    width: 500px;
    margin:15px auto;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius:15px;
  }
  .flex-container > button:hover {
    background-color: hotpink;
    cursor:pointer;
  }

